<div class="row mt-5">
    <div class="col-12">
      <h3 class="text-center">
        Resultados de partidos disputados
      </h3>
    </div>
  </div>

<div class="row mt-5">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-header">
              <h5 class="titulo d-inline">Partidos jugados</h5>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Equipo local</th>
                    <th scope="col" class="text-left">Goles</th>
                    <th scope="col">Equipo visitante</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let partido of partidosJugados">
                    <td>
                        {{ partido.dia }}
                    </td>
                    <td>
                      <i class="fab fa-angular" 
                        [ngClass]="{
                          'text-danger': partido.equipoLocal == 'Deportivo Rojo',
                          'text-orange': partido.equipoLocal == 'Deportivo Naranja',
                          'text-success': partido.equipoLocal == 'Deportivo Verde',
                          'text-violet': partido.equipoLocal == 'Deportivo Violeta',
                          'text-blue': partido.equipoLocal == 'Deportivo Azul',
                          'text-yellow': partido.equipoLocal == 'Deportivo Amarillo',
                          'text-secondary': partido.equipoLocal == 'Deportivo Gris',
                          'text-celeste': partido.equipoLocal == 'Deportivo Celeste',
                          'text-bordo': partido.equipoLocal == 'Deportivo Bordo'
                        }">
                      </i>
                      {{ partido.equipoLocal }}
                    </td>
                    <td class="text-left">
                        {{ partido.golesLocal }} - {{ partido.golesVisitante }}
                    </td>
                    <td>
                      <i class="fab fa-angular" 
                        [ngClass]="{
                          'text-danger': partido.equipoVisitante == 'Deportivo Rojo',
                          'text-orange': partido.equipoVisitante == 'Deportivo Naranja',
                          'text-success': partido.equipoVisitante == 'Deportivo Verde',
                          'text-violet': partido.equipoVisitante == 'Deportivo Violeta',
                          'text-blue': partido.equipoVisitante == 'Deportivo Azul',
                          'text-yellow': partido.equipoVisitante == 'Deportivo Amarillo',
                          'text-secondary': partido.equipoVisitante == 'Deportivo Gris',
                          'text-celeste': partido.equipoVisitante == 'Deportivo Celeste',
                          'text-bordo': partido.equipoVisitante == 'Deportivo Bordo'
                        }">
                      </i>
                      {{ partido.equipoVisitante }}
                    </td>
                    <td>
                        <ng-template #ver>Ver detalles de partido</ng-template>
                        <button type="button" [ngbTooltip]="ver" class="btn btn-primary" (click)="mostrarDetalle(modalDetalle, partido)">
                            <i class="fas fa-file-alt"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
</div>

<!-- Modal detalle de partido -->
<ng-template #modalDetalle let-modal>
  <div class="modal-header bg-primary">
      <h5 class="modal-title text-white">Partido</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
  </div>
      <div class="text-center">
          <h4 class="my-3">Detalles de Partido</h4>
          <span class="me-2">
              <b>Fecha de torneo:</b>
          </span>
          <span class="me-5">{{ fechaTorneo }}</span>
          <span class="me-2">
              <b>Dia:</b>
          </span>
          <span class="me-5">{{ dia }}</span>
          <span class="me-2">
              <b>Hora:</b>
          </span>
          <span class="me-5">{{ hora }}</span>
      </div>
      <div class="row mt-3">
          <div class="col-5 offset-1">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th class="text-center">Equipo local</th>
                          <th class="text-center">Goles</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="text-center">{{ equipo1 }}</td>
                          <td class="text-center">{{ golesLocal }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-5">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th class="text-center">Equipo visitante</th>
                          <th class="text-center">Goles</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="text-center">{{ equipo2 }}</td>
                          <td class="text-center">{{ golesVisitante }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <div class="mt-2 mb-5 col-6">
                      <div *ngIf="jugadoresLocal.length > 0" class="card">
                          <div class="card-body">
                              <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th scope="col">Jugador</th>
                                          <th scope="col" class="text-center">Goles</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let jugadorLocal of jugadoresLocal; index as i">
                                          <td>{{ jugadorLocal.nombreApellido }}</td>
                                          <td class="text-center">
                                              <div>{{ jugadorLocal.goles }}</div>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="mt-2 mb-5 col-6">
                      <div *ngIf="jugadoresVisitante.length > 0" class="card">
                          <div class="card-body">
                              <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th scope="col">Jugador</th>
                                          <th scope="col" class="text-center">Goles</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let jugadorVisitante of jugadoresVisitante; index as i">
                                          <td>{{ jugadorVisitante.nombreApellido }}</td>
                                          <td class="text-center">
                                              <div>{{ jugadorVisitante.goles }}</div>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cerrar</button>
      </div>
</ng-template>