<div class="row ms-4">
    <div class="row mt-3">
        <div class="col-12">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="nounderline" href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gestión de equipos</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-8">
            <h3 class="">Gestión de equipos</h3>
        </div>
    </div>

    <div class="row mt-4">
        <div class="mt-4 mb-5 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="titulo d-inline">LISTADO DE EQUIPOS</h5>
                    <a class="btn btn-primary float-end" [routerLink]="['/crear-equipo', '']" *ngIf="this._apiauthService.usuarioData.idTipoUsuario == 1">Agregar Equipo</a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nº</th>
                                <th scope="col">Equipo</th>
                                <th scope="col">Director técnico</th>
                                <th scope="col">Asistente técnico</th>
                                <th scope="col">Preparador físico</th>
                                <th scope="col">Activo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="listaEquipos && listaEquipos.length > 0; else vacio">
                            <tr *ngFor="let equipo of listaEquipos; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ equipo.nombreEquipo }}</td>
                                <td>{{ equipo.directorTecnico }}</td>
                                <td>{{ equipo.asistenteTecnico }}</td>
                                <td>{{ equipo.preparadorFisico }}</td>
                                <td>{{ equipo.estado ? "activo" : "inactivo" }}</td>
                                <td>
                                    <a class="btn btn-primary" [routerLink]="['/crear-equipo', equipo.idEquipo]">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #vacio>
                            <tbody>
                                <tr class="center-align">
                                    <td colspan="6" class="text-center">No existen equipos registrados</td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>