
<!-- <h1 class="mt-4">Torneo Apertura 2021</h1>
<p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
<p>
    Make sure to keep all page content within the
    <code>#page-content-wrapper</code>
    . The top navbar is optional, and just for demonstration. Just create an element with the
    <code>#sidebarToggle</code>
    ID which will toggle the menu when clicked.
</p> -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-12 text-black">
              <h2>Torneo Apertura 2021</h2>
              <p class="lead">En este sitio encontrarás información actualizada sobre la tabla de posiciones, datos de los clubes participantes, el calendario de los partidos y resultados de cada uno de los encuentros disputados de la primera división masculina del hockey paraguayo.</p>
          </div>
      </div>
  </div>
</div>



<div class="row mt-3">
  <div class="col-12">
    <h3 class="text-center">
      Resultados de los partidos del fin de semana
    </h3>
  </div>
</div>

<!-- content -->
<div class="mb-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9 col-md-9">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button *ngFor="let partido of resultados; index as i" type="button" data-bs-target="#carouselExampleDark" [attr.data-bs-slide-to]="i" 
                      [ngClass]="{'active': i == 0}" [attr.aria-current]="i == 0 ? true : false" [attr.aria-label]="'Slide ' + (i+1)"></button>
                    </div>
                    <div class="carousel-inner">
                      <div *ngFor="let partido of resultados; index as i" class="carousel-item" [ngClass]="{'active': i == 0}" data-bs-interval="5000">
                        <div class="row" style="padding-top: 50px; padding-bottom: 50px;">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-4">
                                <i class="fab fa-angular fa-8x d-flex justify-content-end"
                                  [ngClass]="{
                                    'text-danger': partido.equipoLocal == 'Deportivo Rojo',
                                    'text-orange': partido.equipoLocal == 'Deportivo Naranja',
                                    'text-success': partido.equipoLocal == 'Deportivo Verde',
                                    'text-violet': partido.equipoLocal == 'Deportivo Violeta',
                                    'text-blue': partido.equipoLocal == 'Deportivo Azul',
                                    'text-yellow': partido.equipoLocal == 'Deportivo Amarillo',
                                    'text-secondary': partido.equipoLocal == 'Deportivo Gris',
                                    'text-celeste': partido.equipoLocal == 'Deportivo Celeste',
                                    'text-bordo': partido.equipoLocal == 'Deportivo Bordo'
                                  }">                                  
                                </i>
                              </div>
                              <div class="col-4">
                                <h6 class="d-flex mb-4 justify-content-center">
                                  {{ partido.dia }}
                                </h6>
                                <h1 class="d-flex justify-content-center">
                                  {{ partido.golesLocal }} - {{ partido.golesVisitante }}
                                </h1>
                              </div>
                              <div class="col-4">
                                <i class="fab fa-angular fa-8x d-flex justify-content-start"
                                  [ngClass]="{
                                    'text-danger': partido.equipoVisitante == 'Deportivo Rojo',
                                    'text-orange': partido.equipoVisitante == 'Deportivo Naranja',
                                    'text-success': partido.equipoVisitante == 'Deportivo Verde',
                                    'text-violet': partido.equipoVisitante == 'Deportivo Violeta',
                                    'text-blue': partido.equipoVisitante == 'Deportivo Azul',
                                    'text-yellow': partido.equipoVisitante == 'Deportivo Amarillo',
                                    'text-secondary': partido.equipoVisitante == 'Deportivo Gris',
                                    'text-celeste': partido.equipoVisitante == 'Deportivo Celeste',
                                    'text-bordo': partido.equipoVisitante == 'Deportivo Bordo'
                                  }">
                                </i>
                              </div>
                            </div>
                              <div class="row mt-3">
                                <div class="col-4">
                                  <h5 class="d-flex justify-content-end">
                                    {{ partido.equipoLocal }}
                                  </h5>
                                </div>
                                <div class="col-4">
                                  <h5 class="d-flex justify-content-center">
                                  VS
                                </h5>
                              </div>
                              <div class="col-4">
                                <h5 class="d-flex justify-content-start">
                                  {{ partido.equipoVisitante }}
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" style="color: #FFF;" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" style="color: #FFF;" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content -->

<div class="row">
  <div class="mt-4 mb-5 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="titulo d-inline">Próximos encuentros</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Equipo local</th>
              <th></th>
              <th scope="col">Equipo visitante</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let partido of encuentros">
              <td>
                {{ partido.dia }}
              </td>
              <td>
                <i class="fab fa-angular" 
                  [ngClass]="{
                    'text-danger': partido.equipoLocal == 'Deportivo Rojo',
                    'text-orange': partido.equipoLocal == 'Deportivo Naranja',
                    'text-success': partido.equipoLocal == 'Deportivo Verde',
                    'text-violet': partido.equipoLocal == 'Deportivo Violeta',
                    'text-blue': partido.equipoLocal == 'Deportivo Azul',
                    'text-yellow': partido.equipoLocal == 'Deportivo Amarillo',
                    'text-secondary': partido.equipoLocal == 'Deportivo Gris',
                    'text-celeste': partido.equipoLocal == 'Deportivo Celeste',
                    'text-bordo': partido.equipoLocal == 'Deportivo Bordo'
                  }">
                </i>
                {{ partido.equipoLocal }}
              </td>
              <td>VS</td>
              <td>
                <i class="fab fa-angular" 
                  [ngClass]="{
                    'text-danger': partido.equipoVisitante == 'Deportivo Rojo',
                    'text-orange': partido.equipoVisitante == 'Deportivo Naranja',
                    'text-success': partido.equipoVisitante == 'Deportivo Verde',
                    'text-violet': partido.equipoVisitante == 'Deportivo Violeta',
                    'text-blue': partido.equipoVisitante == 'Deportivo Azul',
                    'text-yellow': partido.equipoVisitante == 'Deportivo Amarillo',
                    'text-secondary': partido.equipoVisitante == 'Deportivo Gris',
                    'text-celeste': partido.equipoVisitante == 'Deportivo Celeste',
                    'text-bordo': partido.equipoVisitante == 'Deportivo Bordo'
                  }">
                </i>
                {{ partido.equipoVisitante }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-5 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="titulo d-inline">Tabla de posiciones</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">PJ</th>
              <th scope="col">PG</th>
              <th scope="col">PE</th>
              <th scope="col">PP</th>
              <th scope="col">GF</th>
              <th scope="col">GC</th>
              <th scope="col">DF</th>
              <th scope="col">PTS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipo of tabla; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <i class="fab fa-angular" 
                  [ngClass]="{
                    'text-danger': equipo.equipo == 'Deportivo Rojo',
                    'text-orange': equipo.equipo == 'Deportivo Naranja',
                    'text-success': equipo.equipo == 'Deportivo Verde',
                    'text-violet': equipo.equipo == 'Deportivo Violeta',
                    'text-blue': equipo.equipo == 'Deportivo Azul',
                    'text-yellow': equipo.equipo == 'Deportivo Amarillo',
                    'text-secondary': equipo.equipo == 'Deportivo Gris',
                    'text-celeste': equipo.equipo == 'Deportivo Celeste',
                    'text-bordo': equipo.equipo == 'Deportivo Bordo'
                  }">
                </i>
                {{ equipo.equipo }}
              </td>
              <td>{{ equipo.partidosJugados }}</td>
              <td>{{ equipo.partidosGanados }}</td>
              <td>{{ equipo.partidosEmpatados }}</td>
              <td>{{ equipo.partidosPerdidos }}</td>
              <td>{{ equipo.golesFavor }}</td>
              <td>{{ equipo.golesContra }}</td>
              <td>{{ equipo.diferenciaGoles }}</td>
              <td>{{ equipo.puntos }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 mb-5 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="titulo d-inline">Tabla de goleadores</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Jugador</th>
              <th scope="col">Equipo</th>
              <th scope="col">Goles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let goleador of goleadores; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ goleador.nombreApellido }}</td>
              <td>
                <i class="fab fa-angular" 
                  [ngClass]="{
                    'text-danger': goleador.equipo == 'Deportivo Rojo',
                    'text-orange': goleador.equipo == 'Deportivo Naranja',
                    'text-success': goleador.equipo == 'Deportivo Verde',
                    'text-violet': goleador.equipo == 'Deportivo Violeta',
                    'text-blue': goleador.equipo == 'Deportivo Azul',
                    'text-yellow': goleador.equipo == 'Deportivo Amarillo',
                    'text-secondary': goleador.equipo == 'Deportivo Gris',
                    'text-celeste': goleador.equipo == 'Deportivo Celeste',
                    'text-bordo': goleador.equipo == 'Deportivo Bordo'
                  }">
                </i>
                {{ goleador.equipo }}
              </td>
              <td>{{ goleador.goles }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-5 col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="titulo d-inline">Tabla de acumulación de tarjetas</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Jugador</th>
              <th scope="col">Equipo</th>
              <th scope="col">TV</th>
              <th scope="col">TA</th>
              <th scope="col">TR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tarjeta of tarjetas; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ tarjeta.nombreApellido }}</td>
              <td>
                <i class="fab fa-angular" 
                [ngClass]="{
                  'text-danger': tarjeta.equipo == 'Deportivo Rojo',
                  'text-orange': tarjeta.equipo == 'Deportivo Naranja',
                  'text-success': tarjeta.equipo == 'Deportivo Verde',
                  'text-violet': tarjeta.equipo == 'Deportivo Violeta',
                  'text-blue': tarjeta.equipo == 'Deportivo Azul',
                  'text-yellow': tarjeta.equipo == 'Deportivo Amarillo',
                  'text-secondary': tarjeta.equipo == 'Deportivo Gris',
                  'text-celeste': tarjeta.equipo == 'Deportivo Celeste',
                  'text-bordo': tarjeta.equipo == 'Deportivo Bordo'
                }">
                </i>
                {{ tarjeta.equipo }}
              </td>
              <td>{{ tarjeta.tarjetasVerdes }}</td>
              <td>{{ tarjeta.tarjetasAmarillas }}</td>
              <td>{{ tarjeta.tarjetasRojas }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>