<div class="row mt-4">
    <div class="col-lg-8 offset-lg-2">
        <h3 class="">Gestión de partidos</h3>
    </div>
</div>

<div class="row mt-4 ms-4">
    <div class="col-12">
        <form (ngSubmit)="FiltrarPartidos()">
            <div class="row mb-3">
                <label for="selectEstado" class="col-2 col-form-label">
                    Estado de partido
                </label>
                <div class="col-4">
                    <select [(ngModel)]="filtroEstado" name="filtrEstado" id="selectEstado" class="form-select">
                        <option *ngFor="let estado of estados" [value]="estado.Estado">{{estado.Estado}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="selectFechaTorneo" class="col-2 col-form-label">
                    Fecha de torneo
                </label>
                <div class="col-4">
                    <select [(ngModel)]="filtroFechaTorneo" name="filtrFechaTorneo" id="selectFechaTorneo" class="form-select" aria-label="Default select example">
                        <option *ngFor="let fecha of fechasTorneo" [value]="fecha">{{fecha}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="selectEquipo" class="col-2 col-form-label">
                    Equipo participante
                </label>
                <div class="col-4">
                    <select [(ngModel)]="filtroEquipo" name="filtrEquipo" id="selectEquipo" class="form-select" aria-label="Default select example">
                        <option *ngFor="let equipo of equipos" [value]="equipo.NombreEquipo">{{equipo.NombreEquipo}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="selectFecha" class="col-2 col-form-label">
                    Fecha de encuentro
                </label>
                <div class="col-4">
                    <input [(ngModel)]="filtroFecha" name="filtrFecha" id="selectFecha" type="date" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary me-2" (click)="limpiarFiltros()">Limpiar</button>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="mt-4 mb-5 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="titulo d-inline">PARTIDOS DEL TORNEO</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Dia</th>
                                <th scope="col">Hora</th>
                                <th scope="col">Equipo local</th>
                                <th scope="col">Goles</th>
                                <th scope="col">Equipo visitante</th>
                                <th scope="col">Goles</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="listaPartidos && listaPartidos.length > 0; else vacio">
                            <tr *ngFor="let partido of listaPartidos; let i = index">
                                <td class="text-center">{{ partido.FechaTorneo }}</td>
                                <td class="text-center">{{ partido.Estado }}</td>
                                <td class="text-center">{{ partido.Dia }}</td>
                                <td class="text-center">{{ partido.Hora }}</td>
                                <td>
                                    <i class="fab fa-angular" 
                                    [ngClass]="{
                                        'text-danger': partido.EquipoLocal == 'Deportivo Rojo',
                                        'text-orange': partido.EquipoLocal == 'Deportivo Naranja',
                                        'text-success': partido.EquipoLocal == 'Deportivo Verde',
                                        'text-violet': partido.EquipoLocal == 'Deportivo Violeta',
                                        'text-blue': partido.EquipoLocal == 'Deportivo Azul',
                                        'text-yellow': partido.EquipoLocal == 'Deportivo Amarillo',
                                        'text-secondary': partido.EquipoLocal == 'Deportivo Gris',
                                        'text-celeste': partido.EquipoLocal == 'Deportivo Celeste',
                                        'text-bordo': partido.EquipoLocal == 'Deportivo Bordo'
                                    }">
                                    </i>
                                    {{ partido.EquipoLocal }}
                                </td>
                                <td class="text-center">{{ partido.GolesLocal }}</td>
                                <td>
                                    <i class="fab fa-angular" 
                                    [ngClass]="{
                                        'text-danger': partido.EquipoVisitante == 'Deportivo Rojo',
                                        'text-orange': partido.EquipoVisitante == 'Deportivo Naranja',
                                        'text-success': partido.EquipoVisitante == 'Deportivo Verde',
                                        'text-violet': partido.EquipoVisitante == 'Deportivo Violeta',
                                        'text-blue': partido.EquipoVisitante == 'Deportivo Azul',
                                        'text-yellow': partido.EquipoVisitante == 'Deportivo Amarillo',
                                        'text-secondary': partido.EquipoVisitante == 'Deportivo Gris',
                                        'text-celeste': partido.EquipoVisitante == 'Deportivo Celeste',
                                        'text-bordo': partido.EquipoVisitante == 'Deportivo Bordo'
                                    }">
                                    </i>
                                    {{ partido.EquipoVisitante }}
                                </td>
                                <td class="text-center">{{ partido.GolesVisitante }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary me-1" (click)="mostrarProgramar(modalProgramar, partido)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    
                                    <button type="button" class="btn btn-primary me-1" (click)="mostrarCargar(modalCargar, partido)">
                                        <i class="fas fa-clipboard-check"></i>
                                    </button>
                                    <!-- (click)="verPlanilla(modalCargar, partido.IdPartido)" -->
                                    <button type="button" class="btn btn-primary" >
                                        <i class="fas fa-file-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #vacio>
                            <tbody>
                                <tr class="center-align">
                                    <td colspan="6" class="text-center">Sin registros</td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal programar partido -->
<ng-template #modalProgramar let-modal>
    <div class="modal-header bg-primary">
        <h5 class="modal-title text-white">Programar Partido</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    <form (ngSubmit)="programarPartido()">
        <div class="text-center">
            <h5 class="mt-2">Torneo Apertura 2021</h5>
            <span class="me-2"><b>{{ fechaTorneoProgramar }}:</b></span>
            <span>{{ equipo1Programar }} VS {{ equipo2Programar }}</span>
        </div>
        <hr>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row mb-3">
                    <label for="inputFecha" class="col-md-6 col-form-label">
                        Fecha
                    </label>
                    <div class="col-md-6">
                        <input [(ngModel)]="fechaProgramar" name="fechaProgramar" id="inputFecha" type="date" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputHora" class="col-md-6 col-form-label">
                        Hora
                    </label>
                    <div class="col-md-6">
                        <input [(ngModel)]="horaProgramar" name="horaProgramar" id="inputHora" type="time" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="selectArbitro1" class="col-md-6 col-form-label">
                        Árbitro 1
                    </label>
                    <div class="col-md-6">
                        <select [(ngModel)]="arbitro1Programar" name="arbitro1Programar" id="selectArbitro1" class="form-select" aria-label="Default select example">
                            <option *ngFor="let arbitro of arbitros" [value]="arbitro">{{arbitro}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="selectArbitro2" class="col-md-6 col-form-label">
                        Árbitro 2
                    </label>
                    <div class="col-md-6">
                        <select [(ngModel)]="arbitro2Programar" name="arbitro2Programar" id="selectArbitro2" class="form-select" aria-label="Default select example">
                            <option *ngFor="let arbitro of arbitros" [value]="arbitro">{{arbitro}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="selectJuez" class="col-md-6 col-form-label">
                        Juez de mesa
                    </label>
                    <div class="col-md-6">
                        <select [(ngModel)]="juezProgramar" name="juezProgramar" id="selectJuez" class="form-select" aria-label="Default select example">
                            <option *ngFor="let juez of jueces" [value]="juez">{{juez}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</ng-template>

<!-- Modal cargar planilla de partido -->
<ng-template #modalCargar let-modal>
    <div class="modal-header bg-primary">
        <h5 class="modal-title text-white">Cargar Planilla</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    <form (ngSubmit)="cargarPartido()">
        <div class="text-center">
            <h4 class="my-3">Planilla de Partido</h4>
            <span class="me-2">
                <b>Torneo:</b>
            </span>
            <span class="me-5">Apertura 2021</span>
            <span class="me-2">
                <b>Fecha de torneo:</b>
            </span>
            <span class="me-5">{{ fechaTorneoProgramar }}</span>
            <span class="me-2">
                <b>Dia:</b>
            </span>
            <span class="me-5">{{ diaCargar }}</span>
            <span class="me-2">
                <b>Hora:</b>
            </span>
            <span class="me-5">{{ horaCargar }}</span>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 offset-md-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Equipo local</th>
                            <th class="text-center">Goles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">{{ equipo1Programar }}</td>
                            <td class="text-center">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Equipo visitante</th>
                            <th class="text-center">Goles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">{{ equipo2Programar }}</td>
                            <td class="text-center">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="mt-2 mb-5 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nº</th>
                                            <th scope="col">Jugador</th>
                                            <th scope="col">Goles</th>
                                            <th scope="col">TV</th>
                                            <th scope="col">TA</th>
                                            <th scope="col">TR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let jugador of jugadoresNegro; index as i">
                                            <th scope="row"><input type="number"></th>
                                            <td>{{ jugador.Nombre }}</td>
                                            <td>
                                                <input type="number">
                                            </td>
                                            <td><input type="number"></td>
                                            <td>
                                                <input type="number">
                                            </td>
                                            <td>
                                                <input type="number">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 mb-5 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nº</th>
                                            <th scope="col">Jugador</th>
                                            <th scope="col">Goles</th>
                                            <th scope="col">TV</th>
                                            <th scope="col">TA</th>
                                            <th scope="col">TR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let jugador of jugadoresRojo; index as i">
                                            <th scope="row"><input type="number"></th>
                                            <td>{{ jugador.Nombre }}</td>
                                            <td>
                                                <input type="number">
                                            </td>
                                            <td>
                                                <input type="number">
                                            </td>
                                            <td>
                                                <input type="number">
                                            </td>
                                            <td>
                                                <input type="number">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</ng-template>