<div class="row mt-5">
    <div class="col-12">
      <h3 class="text-center">
        Estadísticas del Torneo
      </h3>
    </div>
  </div>

<div class="row mt-5">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-header">
              <h5 class="titulo d-inline">Tabla de goleadores</h5>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Goles</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let goleador of goleadores; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ goleador.nombreApellido }}</td>
                    <td>
                      <i class="fab fa-angular" 
                        [ngClass]="{
                          'text-danger': goleador.equipo == 'Deportivo Rojo',
                          'text-orange': goleador.equipo == 'Deportivo Naranja',
                          'text-success': goleador.equipo == 'Deportivo Verde',
                          'text-violet': goleador.equipo == 'Deportivo Violeta',
                          'text-blue': goleador.equipo == 'Deportivo Azul',
                          'text-yellow': goleador.equipo == 'Deportivo Amarillo',
                          'text-secondary': goleador.equipo == 'Deportivo Gris',
                          'text-celeste': goleador.equipo == 'Deportivo Celeste',
                          'text-bordo': goleador.equipo == 'Deportivo Bordo'
                        }">
                      </i>
                      {{ goleador.equipo }}
                    </td>
                    <td>{{ goleador.goles }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>


